// 边距
.mb16{
  margin-bottom: 16px;
}

// 背景色
.bg-white{
  background-color: #fff;
}
// 宽高
.h100{
  height: 100%
}
.hlh32{ // height line-height 同样的值实现居中
  height: 32px;
  line-height: 32px;
}

// 字体
.fz16{
  font-size: 16px;
}
.fwb{
  font-weight: bold;
}
// flex
.flex-justify-end{
  display: flex;
  justify-content: flex-end;
}
.flex-ver{
  display: flex;
  flex-direction: column;
}